<div class="characteristic" *ngIf="characteristic?.img">
  <div class="info">
    <app-short-info [characteristic]="characteristic"></app-short-info>
  </div>
  <div class="characteristic__info">
    <h2>Description</h2>
    <div class="block__characteristic">
      <h3 class="name-details">General</h3>
      <div class="characteristic-item" *ngFor="let field of fieldCharacteristic">
        <div class="item">
          <span>{{ objCharacteristic[field] | titlecase }}</span>
        </div>

        <div class="value">
          <span *ngIf="field !== 'camera'; else camers">{{ characteristic[field] | titlecase }}</span>
          <ng-template #camers>
            <span *ngFor="let element of characteristic[field]; index as i">
              {{ element }} MP
              <span *ngIf="i < characteristic[field].length - 1">+ </span>
            </span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
