<div class='footer-main'>
    <div class="footer-main_information">
        <a href="#">about store</a>
        <a href="#">delivery</a>
        <a href="#">payment</a>
        <div class="information__catalog">
            <p>catalog</p>
            <a href="#">Laptops</a>
            <a href="#">Smartphones</a>
            <a href="#">Tablets</a>
        </div>
        <div class="information__contacts">
            <a href='#'>contacts</a>
            <a href="tel: +375295310248">+375 (29) 531-02-48</a>
        </div>
    </div>
    <div class="footer-main-network">
        <div class='social-network'>
            <a href="https://www.instagram.com/"><img src="../../assets/img/instagram.svg" alt="instagram"></a><a href="https://vk.com/"><img src="../../assets/img/vk.svg" alt="vk"></a><a href="https://www.facebook.com/"><img src="../../assets/img/facebook.svg" alt="facebook"></a>
        </div>
    </div>
</div>