.cart {
  width: 100%;
  min-height: 61%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ededed;
}

.cart__total_orders {
  width: 80%;
  font-size: 20px;
  font-weight: 500;
  color: #3f51b5;
  margin-top: 20px;
}

.cart__info {
  width: 80%;
  padding: 20px;
  background-color: #e2e3e4;

  .info__detail {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
  }
}

