.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  p {
    margin: 0;
  }
}

.cart__imeg {
  width: 32px;
  height: 32px;
  fill: #fff;
}
