.detail__product {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#ffffff;
  margin-top: 20px;

  .product__imeg {
    width: 100%;
    max-width: 170px;
    min-width: 65px;
    margin:0;
  }
}

@media(max-width: 768px) {
   .detail__product{
     flex-direction: column;
     align-items: first;
   }
}
