<div class="catalog">
  <h2 class="name">{{ typeProduct | titlecase }}</h2>
  <div class="products">
    <mat-card class="product" *ngFor="let product of products; trackBy: trackByFn">
      <a class="product__link-img" [routerLink]="[product.characteristic]">
        <img mat-card-image [src]="product.img" alt="" />
      </a>
      <mat-card-content class="info">
        <a [routerLink]="[product.characteristic]" class="info__name">{{ product.name }}</a>
        <p class="cost">{{ product.price | currency}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="product__buy" mat-button (click)="buy(product)">Buy</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
