<div class="details">
  <div class="content">
    <h1>Smartphone {{ characteristic?.name }}</h1>
    <div class="tab">
      <mat-tab-group>
        <mat-tab label="Сharacteristics">
          <ng-template matTabContent>
            <app-characteristics [charactId]="charactId"></app-characteristics>
          </ng-template>
        </mat-tab>
        <mat-tab label="Customer feed back">
          <ng-template matTabContent><app-feedback-page [charactId]="charactId"></app-feedback-page> </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
